<header>
  <h1>
    {{title}}
  </h1>
  <nav class="header__nav">
    <a href="./index.html"><img class="nav__logo" alt="logo" /></a>
    <a href="./index.html">Персональный блог</a>
    <a href="./list.html">Список постов</a>
    <a href="./post.html">Написать пост</a>
    <a href="./feedback.html">Обратная связь</a>
    <a href="./about.html">О блоге</a>
  </nav>
</header>
<main>
  <section>
  </section>
</main>
<footer>
  <nav>
    <a href="./index.html">Персональный блог</a>
    <a href="./list.html">Список постов</a>
    <a href="./post.html">Написать пост</a>
    <a href="./feedback.html">Обратная связь</a>
    <a href="./about.html">О блоге</a>
  </nav>
</footer>